<?xml version="1.0"?>

<model>
  <name>Box with colored ArUco markers</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Noah Bruns</name>
    <email>e01630029@student.tuwien.ac.at</email>
  </author>

  <description>
    Box with aruco markers. One on each side. 
  </description>
</model> 
