<?xml version="1.0"?>
<launch>
  <!-- Start the arc ros node -->
  <include file="$(find arc_ros)/launch/arc_ros_node.launch">
  </include>

  <!-- Start state machine-->
  <include file="$(find iiwa_state_machine)/launch/iiwa_state_machine_ads.launch">
  </include>

  <!-- Start Camera-->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  </include>

  <!-- tf between camera and r1/world -->
  <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0 0.073 0.04 -1.5707 0 0 ee_link camera_link 100" />
  <!--<node pkg="tf" type="static_transform_publisher" name="detector_tf" args="0 0 0 3.1415 0 -1.5707 /camera_color_optical_frame detector 100" />-->

  <node pkg="tf" type="static_transform_publisher" name="detector_tf" args="0 0 0 3.1415 0 1.5707 /camera_color_optical_frame detector 100" />

  <!-- move Robot
  <node name="robot_mover" pkg="handover" type="robot.py" args="joint_states:=/r1/joint_states"/>-->
</launch>
